# Ignore some static files and directories.
/.htaccess
/config.php
/favicon.ico
/index.php
/LICENSE.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/video-clip
!/modules/video-clip/*
/themes/*
!/themes/admin_default/css/video-clip.css
!/themes/admin_default/js/video-clip.js
!/themes/admin_default/images/video-clip
!/themes/admin_default/images/video-clip/*
!/themes/admin_default/modules/video-clip
!/themes/admin_default/modules/video-clip/*
!/themes/default/css/video-clip.css
!/themes/default/js/video-clip.js
!/themes/default/images/video-clip
!/themes/default/images/video-clip/*
!/themes/default/modules/video-clip
!/themes/default/modules/video-clip/*
!/themes/mobile_default/css/video-clip.css
!/themes/mobile_default/js/video-clip.js
!/themes/mobile_default/images/video-clip
!/themes/mobile_default/images/video-clip/*
!/themes/mobile_default/modules/video-clip
!/themes/mobile_default/modules/video-clip/*
/vendor
/composer.json
