# Ignore some static files and directories.
/.htaccess
/CJzip.php
/config.php
/favicon.ico
/index.php
/LICENSE.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/mainfile.php
/robots.php
/robots.txt
/web.config
/admin/
/cache/
/data/
/editors/
/files/
/images/
/includes/
/install/
/js/
/language/
/logs/
/sess/
/tmp/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/video-clip
!/modules/video-clip/*
/themes/*
!/themes/admin_default/css/video-clip.css
!/themes/admin_default/images/video-clip
!/themes/admin_default/images/video-clip/*
!/themes/admin_default/modules/video-clip
!/themes/admin_default/modules/video-clip/*
!/themes/default/css/video-clip.css
!/themes/default/images/video-clip
!/themes/default/images/video-clip/*
!/themes/default/modules/video-clip
!/themes/default/modules/video-clip/*
!/themes/mobile_nukeviet/css/video-clip.css
!/themes/mobile_nukeviet/images/video-clip
!/themes/mobile_nukeviet/images/video-clip/*
!/themes/mobile_nukeviet/modules/video-clip
!/themes/mobile_nukeviet/modules/video-clip/*